body{
    background-image: url(../Images/32.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
    color: blanchedalmond;
}

/* header */

.header{
    color: rgb(238, 231, 231);
    margin-top:30px; 
    border:5px rgb(255, 102, 0) solid;
    border-radius: 15px;
    padding-left: 20px;
    background-color: rgb(58, 58, 59);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: left;  
}

/* header */

/* name */
h2{
    color: rgb(238, 231, 231);
    border:2px rgb(255, 102, 0) solid;
    border-radius: 15px;
    padding-left: 20px;
    background-color: rgb(58, 58, 59);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: left;  
    width: 12%;
    overflow: auto;
    margin-left:1%;
}
h2:hover{
    background-color: black;
}
/* name */

/*.navbar*/

li a:hover{
    color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    text-decoration: underline;
    transition: 5s text-decoration;
}

a:active{
    background-color: rgb(0, 245, 253) ;

}
.navbar li{
    display: inline;
    color: rgb(255, 255, 255);
    padding:0px 10px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 20px;
    }
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 510;
    height: 100%;
   
    
}

.navbar{
    border:3px rgb(255, 102, 0) solid;
    border-radius: 15px;
    position:fixed;
    padding-left: 5px;
    list-style: none;
    font-size: 20px;
    background-color: rgb(58, 58, 59);
    margin-left: 73%;
    margin-top: 10px;
    overflow: auto;
    }

.li2{
        text-decoration: underline;
     }

     @media(max-width:1200px){
        .navbar li{
            display: block;
        }
    
    }     

/*.navbar*/

/* skills */

/* Javascript */
.js{
    display: flex;
    width: 50%;
    margin-left: 26%;
    margin-top: 60px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box1{
   flex:12;
   border-radius: 15px;
   padding: 10px;
   background-color: rgb(31, 206, 15);
   border: white 2px solid;
}
.box2{
    flex:88;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    border: rgb(255, 255, 255) 2px solid;
}
/* Javascript */

/* html */

.html{
    display:flex;
    width: 50%;
    margin-left: 26%;
    margin-top: 60px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .box3{
        flex:67;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(31, 206, 15);
        border: rgb(255, 255, 255) 2px solid;
     }
     .box4{
         flex:33;
         border-radius: 15px;
         padding: 10px;
         background-color: black;
         border: rgb(255, 255, 255) 2px solid;
     }
/* html */

/* css */

.CSS{
    display: flex;
    width: 50%;
    margin-left: 26%;
    margin-top: 60px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box5{
    flex:48;
    border-radius: 15px;
    padding: 10px;
    background-color:  rgb(31, 206, 15);
    border: rgb(255, 255, 255) 2px solid;
 }
 .box6{
     flex:52;
     border-radius: 15px;
     padding: 10px;
     background-color: black;
     border: rgb(255, 255, 255) 2px solid;
 }

 /* css */

 /* c */
.C{
    display:flex;
    width: 50%;
    margin-left: 26%;
    margin-top: 60px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box7{
    flex:28;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(31, 206, 15);
    border: rgb(255, 255, 255) 2px solid;
 }
 .box8{
     flex:72;
     border-radius: 15px;
     padding: 10px;
     background-color: black;
     border: rgb(255, 255, 255) 2px solid;
 }
 /* c */

/* skills */

/* images */
.display{
    border: rgb(4, 206, 31) 5px solid;
    width: 400px;
    border-radius:10px;
    margin-top: 140px;
    margin-left: 37%;
}

/* images */
